/* :::::::: toolbar buttons ::::::::::::::: */

toolbar toolbarbutton:not([type="menu"]):not([class~="textonly"]) .toolbarbutton-text {
	-moz-margin-start: 4px !important;
}
toolbar toolbarbutton:not([type="menu"]):not([class~="textonly"]) .toolbarbutton-icon {
	-moz-margin-start: 3px;
}

toolbar[mode="icons"] toolbarbutton:not([type="menu"]):not([class~="textonly"]) > .toolbarbutton-text,
toolbar[mode="text"] toolbarbutton:not([type="menu"]):not([class~="textonly"]) > .toolbarbutton-icon {
	display: none;
}

toolbar[mode="icons"] > .textonly > .toolbarbutton-text,
toolbar[mode="icons"] > toolbaritem > .textonly > .toolbarbutton-text,
toolbar[mode="icons"] toolbarpaletteitem > toolbaritem > .textonly > .toolbarbutton-text,
toolbar[mode="icons"] toolbarpaletteitem > .textonly > .toolbarbutton-text {
	display: -moz-box;
}

#item_modeLangCSS {
	background: url("chrome://econsole2/skin/css.png") no-repeat 15% 25%;
}

#item_modeLangXML {
	background: url("chrome://econsole2/skin/xml.png") no-repeat 15% 25%;
}
